{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/live_metrics.css' %}">

    <title>Bitcoin Live</title>
</head>
<body>
    
    <div class="div1">
        <h2>Live Bitcoin Data</h2>
    </div>

    <div class="div2">
        <a href="{% url 'main' %}"><p>Go Back</p></a>
    </div>

    <div class="chart-container">
    <canvas id="bitcoinChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'mainjs/bitcoinChart.js' %}"></script>
</body>
</html>